<mat-card id="reactive-forms">
  <form ngForm [formGroup]="exampleForm" (ngSubmit)="submit()">
    <mat-card-header>
      <mat-card-title>Reactive Form</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <div>
          <p>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput [formControl]="name" type="text" required>
              <mat-hint>Real name of a real person</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <mat-label>Age</mat-label>
              <input matInput [formControl]="age" type="number" required>
              <mat-hint>Real age of a real person</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <mat-label>Birthdate</mat-label>
              <input matInput [formControl]="birthdate" [matDatepicker]="datepicker">
              <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker touchUi #datepicker [startAt]="beginning">
              </mat-datepicker>
              <mat-hint>Real birthdate of a real person</mat-hint>
            </mat-form-field>
          </p>
        </div>
        <hr>
        <h4>Real age: {{ageCalculation | async}}</h4>
        <h4>Form preview:</h4>
        <pre>{{exampleForm.value | json}}</pre>
        <hr>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!exampleForm.valid">Submit</button>
      <button mat-raised-button color="warn" type="reset" [disabled]="exampleForm.pristine">Reset</button>
    </mat-card-actions>
  </form>
</mat-card>
